<import src="error.css"></import>

<section id="error">
  <div class="wrapper">
    <h1>나는 찻주전자다</h1>
    <br />
    <a
      title="Mendhak, CC BY-SA 2.0 &lt;https://creativecommons.org/licenses/by-sa/2.0&gt;, via Wikimedia Commons"
      href="https://commons.wikimedia.org/wiki/File:Black_tea_pot_cropped.jpg"
    >
      <img
        width="128"
        alt="Black tea pot cropped"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Black_tea_pot_cropped.jpg/512px-Black_tea_pot_cropped.jpg"
      />
    </a>
    <hr />
    <p>
      <i>서버가 다 끓었습니다</i>
    </p>
  </div>
</section>
