@keyframes shake {
  0% {
    transform: translate(0.125rem, 0.125rem) rotate(0deg);
  }
  10% {
    transform: translate(-0.125rem, -0.25rem) rotate(-1deg);
  }
  20% {
    transform: translate(-0.375rem, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0.375rem, 0.25rem) rotate(0deg);
  }
  40% {
    transform: translate(0.125rem, -0.125rem) rotate(1deg);
  }
  50% {
    transform: translate(-0.125rem, 0.25rem) rotate(-1deg);
  }
  60% {
    transform: translate(-0.375rem, 0.125rem) rotate(0deg);
  }
  70% {
    transform: translate(0.375rem, 0.125rem) rotate(-1deg);
  }
  80% {
    transform: translate(-0.125rem, -0.125rem) rotate(1deg);
  }
  90% {
    transform: translate(0.125rem, 0.25rem) rotate(0deg);
  }
  100% {
    transform: translate(0.125rem, -0.25rem) rotate(-1deg);
  }
}
