/* 
  SuisseIntl
  https://www.swisstypefaces.com/fonts/suisse/
*/

/* Light */
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-LightIt.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-RegularIt.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-Regular.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-RegularIt.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-SemiBold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-SemiBoldIt.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Susa60';
  src: url(./suisseintl-woff2/SuisseIntl-BlackIt.woff2) format('woff2');
  font-weight: 900;
  font-style: italic;
}
