#auth-reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 8rem);
  overflow: hidden;
  position: relative;
}

#auth-reset-password .form {
  box-sizing: content-box;
  width: 36rem;
  height: 36rem;
  left: calc(50% - 18rem);
  position: absolute;
  perspective: 100vw;
  perspective-origin: center;
  transition: left 0.36s ease-out;
}
#auth-reset-password .form[shake] {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#auth-reset-password .form[goaway] {
  transition: transform 0.5s ease-out !important;
  transform: rotate(720deg) scale(0) !important;
}
#auth-reset-password .form[right] {
  left: calc(100vw + 50rem);
}
#auth-reset-password .form[left] {
  left: -50rem;
}
#auth-reset-password .side {
  background: var(--white);
  padding: 6rem;
  border-radius: 6.625rem;
  transform-style: preserve-3d;
}
#auth-reset-password .side.front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#auth-reset-password .side.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(-180deg);
  opacity: 0;
  pointer-events: none;
}
#auth-reset-password h1 {
  text-align: center;
}
#auth-reset-password p {
  font-size: 0.85rem;
  color: var(--gray3);
}
#auth-reset-password form > .inputs {
  position: relative;
}
#auth-reset-password form > button {
  width: 100%;
}
