<!DOCTYPE html>
<html>
  <head>
    <import src="scripts/injections.html"></import>
    <import src="scripts/lapis.html"></import>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#D2B0DD" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link href="/resources/wanyne.css" rel="stylesheet" />

    <title>#{title}</title>
  </head>
  <body>
    <nav></nav>

    <main>
      <import src="#{page}"></import>
    </main>

    <footer></footer>

    <script src="/resources/modules/mixedtypo.js" type="module"></script>
  </body>
</html>
