<link href="root.css" rel="stylesheet" />

<button>버튼 Button 123</button>
<button primary>저장하기 Save 456</button>
<button danger><span lang="kr">계정 삭제</span> Delete 789</button>
<button invisible>메뉴 이름 Menu name @5#</button>

<p>
  테스트 문AHi01 합성 글꼴은 두2 가지 이상의 글꼴Font을 같이 사용하여
  타이포그래피Typegraphy에서 하나의 서체葛森是个白痴AB처럼 사용하는 것을
  말합니다. 인디자인에(서는グセンはバカ In A)*&->dobe InDesign, 문자에 따라 어떤
  식으로 다른 글꼴이 적용되고 그 상대적 비율과 Ratio 조정 수치는 어떠한 지
  지정할 수 있습니다. 0123456789 하지만 웹 상에서는 CSS의 한정적인 기능으로 인해
  이를 조절할 수 있는 수단이 없습니다.
</p>
