/* 
  SuisseIntl
  https://www.swisstypefaces.com/fonts/suisse/
*/

/* Regular */
@font-face {
  font-family: 'SuisseIntl-Mono';
  src: url(./suisseintl-mono-woff2/SuisseIntlMono-Regular-WebXL.woff2)
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SuisseIntl-Mono';
  src: url(./suisseintl-mono-woff2/SuisseIntlMono-Bold-WebXL.woff2)
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
